Qus1.What is a database? Differentiate between SQL and NoSQL database.

solution1:
The database is a collection of inter-related data which is used to retrieve, insert and delete the data efficiently. It is also used to organize the data in the form of a table, schema, views, and reports, etc.
Using the database, you can easily retrieve, insert, and delete the information.

SQL:
* RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)
* These databases have fixed or static or predefined schema	
* These databases are not suited for hierarchical data storage.	
* These databases are best suited for complex queries
* Vertically Scalable	
* Follows ACID property	
* Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	

NoSQL:

* Non-relational or distributed database system.
* They have dynamic schema
* These databases are best suited for hierarchical data storage.
* These databases are not so good for complex queries
* Horizontally scalable
* Follows CAP(consistency, availability, partition tolerance)
* Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

Qus2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

solution2:
Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.

1. CREATE:the CREATE command is used to create a new database object, such as a table or an index.

In [ ]:
CREATE TABLE Customers (
  CustomerID int NOT NULL,
  FirstName varchar(50),
  LastName varchar(50),
  Email varchar(50),
  PRIMARY KEY (CustomerID)
);

DROP:the DROP command is used to delete an existing database object, such as a table or an index.

In [ ]:
DROP TABLE Customers;

ALTER:the ALTER command is used to modify an existing database object, such as a table or a column.

In [ ]:
ALTER TABLE Customers
ADD Phone varchar(20);

TRUNCATE:the TRUNCATE command is used to delete all the data from an existing table,but not table itself.

In [ ]:
TRUNCATE TABLE Customers;

Qus3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

SOLUTION3:

DML stands for Data Manipulation Language,which is a subset of SQL(Structured Query Language) used to manipulate data in relational databases.

INSERT:the INSERT statement is used to add new rows of data to a table.
Example:
INSERT INTO customers(id,name,email,phone)
VALUES (101,'zaid','zaid@yahoo.com','948483893');

UPDATE: the UPDATE statement is used to modify existing data in a table
Example:
UPDATE customers
SET phone="93748347743"
WHERE ID=101;

DELETE:the DELETE statement is used to remove rows of data from a table.
Example:
DELETE FROM customers
WHERE id=101;

Qus4.What is DQL? Explain SELECT with an example.

Solution4:
DQL stands for Data Query Language,ehich is a subset of SQL(Structured Query Language) that is is used to retrieve and manipulate data from a database.

SELECT is a DQL command used to retrieve data from one or more tables in a database.

Syntax:
SELECT column1,column2, .. FROM table_name;

Example:
1. SELECT id,name,department FROM employees;
2. SELECT * FROM employees;

Qus5.Explain Primary Key and Foreign Key.

Solution 5:
Primary Key:
a primary key is acolumn or set of columns in database table that uniquely identifies each row in that table. it must be a unique value, meaning no two rows can have the same value for the primary key. The primary key is used to enforce data integrity, ensuring that each row in the table can be uniquely identified and accessed. It is also used as a reference point for other tables that have relationships with this table.

Foreign Key:
a foreign key is a column or set of columns in a table that refers to the primary key of another table. It establishes a link or relationship between two tables. The foreign key column(s) in one table hold values that correspond to the values of the primary key column(s) in another table. This relationship ensures that each value in the foreign key column(s) of one table matches a value in the primary key column(s) of the other table.

Qus6.Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM yourtable")
for x in mycursor:
    print(x)

1. cursor():The cursor() method is used to create a cursor object that allows us to execute SQL queries and fetch results from the database. The cursor is created by calling the cursor() method on the database connection object. The cursor object is used to execute SQL queries and fetch results.

2.execute():The execute() method is used to execute an SQL query. It takes an SQL query string as its argument and returns the result of the query. The result can be retrieved using various methods like fetchall(), fetchone(), etc. The execute() method is called on the cursor object, and it executes the SQL query provided as its argument.

Qus7.Give the order of execution of SQL clauses in an SQL query.

1. FROM clause: The FROM clause is the first clause to be executed. It specifies the table(s) from which the data will be retrieved.

2. WHERE clause: The WHERE clause is executed after the FROM clause. It filters the data based on a specified condition.

3. GROUP BY clause: The GROUP BY clause is executed after the WHERE clause. It groups the data based on one or more columns.

4. HAVING clause: The HAVING clause is executed after the GROUP BY clause. It filters the grouped data based on a specified condition.

5. SELECT clause: The SELECT clause is executed after all the previous clauses. It selects the columns that will be included in the result set.

6. ORDER BY clause: The ORDER BY clause is executed after the SELECT clause. It sorts the result set based on one or more columns.

7. LIMIT clause: The LIMIT clause is executed after the ORDER BY clause. It limits the number of rows returned by the query.